header {
    background-color: rgb(42, 42, 209);
    padding: 20px 0;
    margin-bottom: 10px;
}

.slafodase {
    color: white;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}

.slamain h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0px
}

.linhafoda {
    width: 5px;
    height: 500px;
    background-color: rgb(42, 42, 209);
    margin: auto;
    margin-bottom: 20px;
}

footer {
    background-color: rgb(42, 42, 209);
    padding: 20px 0;
}

.slafooter {
    text-align: center;
    color: white;
}

.slafooter h3 {
    font-size: 50px;
    margin: 20px;
}



