@font-face{
    font-family: "Poker";
    src: url('Poker.ttf');
}

header {
    background-color: rgb(129, 69, 13);
    padding: 20px 0;
    font-family: "Poker";
}

.slafodase {
    text-align: center;
}

.slafodase h1{
    color: black;
    font-size: 120px;
}

.slamain h1 {
    text-align: center;
    text-decoration: underline;
    font-size: 60px;
    margin-bottom: 10px;
    margin-top: 0px
}

.slamain h2{
    text-align: center;
    text-decoration: underline;
    font-size: 50px;
    color: rgb(240, 0, 0);
    margin-top: 10px;
}

/*SETEMRBO*/

.pjtdsetembro {
    text-align: center;
}

.pjtdsetembro li {
    display: inline-block;
    width: 350px;
    text-align: center;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px 15%;
    margin-bottom: 15px;
    transition: 0.5s all;
    background-color: rgb(18, 132, 0);
}

.pjtdsetembro li a {
    text-decoration: none;
}

.pjtdsetembro li:hover {
    transform: scale(1.1,1.1);
    border-color: rgb(240, 0, 0);
}

.pjtdsetembro a:hover .as {
    color: black;
    visibility: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 28px;
}

.pjtdsetembro a:hover .as:before {
    content: '\002660';
    color: black;
    visibility: visible;
    font-size: 70px;
}

.pjtdsetembro a:hover p {
    color: rgb(240, 0, 0);
    visibility: hidden;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 28px;
}

.pjtdsetembro a:hover p:before {
    content: '\002666';
    color: rgb(240, 0, 0);
    visibility: visible;
    font-size: 70px;
}

.pjtdsetembro p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: "PokerinOctober";
}

.pjtdsetembro h6 {
    margin: 5px 1%;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: "PokerinOctober";
}

.pjtdsetembro h5 {
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: center;
    font-size: 28px;
    color: rgb(121, 228, 255);
    margin-left: 2px;
}

/*OUTUBRO*/

.pjtdoutubro {
    margin-top: 10px;
    text-align: center;
}

.pjtdoutubro li {
    display: inline-block;
    text-align: center;
    width: 350px;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px 15%;
    margin-bottom: 15px;
    transition: 0.4s all;
    background-color: rgb(18, 132, 0);
}

.pjtdoutubro li a {
    text-decoration: none;
}

.pjtdoutubro li:hover {
    transform: scale(1.1,1.1);
    border-color: rgb(240, 0, 0);
}

.pjtdoutubro a:hover .as {
    color: black;
    visibility: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 28px;
}

.pjtdoutubro a:hover .as:before {
    content: '\002660';
    color: black;
    visibility: visible;
    font-size: 70px;
}

.pjtdoutubro a:hover p {
    color: rgb(240, 0, 0);
    visibility: hidden;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 28px;
}

.pjtdoutubro a:hover p:before {
    content: '\002666';
    color: rgb(240, 0, 0);
    visibility: visible;
    font-size: 70px;
}

.pjtdoutubro p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: "PokerinOctober";
}

.pjtdoutubro h6 {
    margin: 5px 1%;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: "PokerinOctober";
}

.pjtdoutubro h5 {
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: left;
    font-size: 28px;
    color: rgb(121, 228, 255);
    margin-left: 2px;
}

/*NOVEMBRO*/

.pjtdnovembro {
    margin-top: 10px;
    text-align: center;
}

.pjtdnovembro li {
    display: inline-block;
    text-align: center;
    width: 350px;
    vertical-align: top;
    position: relative;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 50px 15%;
    margin-bottom: 15px;
    transition: 0.4s all;
    background-color: rgb(18, 132, 0);
}

.pjtdnovembro li a {
    text-decoration: none;
}

.pjtdnovembro li:hover {
    transform: scale(1.1,1.1);
    border-color: rgb(240, 0, 0);
}

.pjtdnovembro a:hover .as {
    color: black;
    visibility: hidden;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 28px;
}

.pjtdnovembro a:hover .as:before {
    content: '\002660';
    color: black;
    visibility: visible;
    font-size: 70px;
}

.pjtdnovembro a:hover p {
    color: rgb(240, 0, 0);
    visibility: hidden;
    margin-top: 22px;
    margin-bottom: 22px;
    margin-left: 28px;
}

.pjtdnovembro a:hover p:before {
    content: '\002666';
    color: rgb(240, 0, 0);
    visibility: visible;
    font-size: 70px;
}

.pjtdnovembro p {
    font-size: 40px;
    font-weight: bold;
    color: white;
    font-family: "PokerinOctober";
}

.pjtdnovembro h6 {
    margin: 5px 1%;
    text-align: left;
    font-size: 30px;
    color: white;
    font-family: "PokerinOctober";
}

.pjtdnovembro h5 {
    margin-top: 1px;
    margin-bottom: 1px;
    text-align: left;
    font-size: 28px;
    color: rgb(121, 228, 255);
    margin-left: 2px;
}

footer {
    background-color: rgb(129, 69, 13);
    padding: 20px 0;
}

.slafooter {
    text-align: center;
    color: white;
}

@font-face {
    font-family: "PokerinOctober";
    src: url('PokerInOctober-Demo.otf');
}

.slafooter h1 {
    font-size: 60px;
    font-family: "PokerinOctober";
}

.slafooter h3 {
    font-size: 80px;
    margin: 20px;
    font-family: "PokerinOctober";
}

.linhafoda {
    width: 5px;
    height: 980px;
    background-color: rgb(129, 69, 13);
    margin: auto;
    margin-bottom: 50px;
    margin-top: -1020px;
}

